[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

tornado = "*"
"jinja2" = "*"
bcrypt = "*"
"psycopg2" = "*"
ipython = "*"
pylint = "*"
"boto3" = "*"
queries = "*"
requests = "*"
"markdown2" = "*"


[dev-packages]



[requires]

python_version = "3.6"
pylint = "*"
