[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

tornado = "*"
"jinja2" = "*"
bcrypt = "*"
"psycopg2" = "*"


[dev-packages]



[requires]

python_version = "3.6"
