<!DOCTYPE html>
<html lang="en">

    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Customer Search</title>
            <link rel="stylesheet" href="../static/css/search.css">
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>   
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
      <script>
            $(function() {
                var data = [
                    {% for name in data %}
                    {
                    // hidden_val: "{{ data[0] }}",
                        label: "Name: {{name.LastName|safe}}, {{name.FirstName|safe}}, Phone: {{name.PhoneNumber|safe}}, Policy Number:{{name.PolicyNumber|safe}}"
                    },
                    {% endfor %}
                ];
                $("#programs").autocomplete({
                    delay: 0,
                    source: data,
                    select: function(event, ui){
                        $("#programs").keydown(function (e) {
                        if (e.keyCode == 13) {
                            window.location = "/index";
                        }
                        });
                        $('#my-list').empty()
                        $("#my-list").append('<li><a href="login">'+ui.item.value+'</a></li>');
                        // $( "#program_val" ).val(ui.item.hidden_val);

                    }
                });
            });
            </script>
    <body>
        <h1 id='h'>Customer Search</h1>
        <div id='wrapper'>
            <div id="column">
                <i class="material-icons">search</i>
                <input type="text" id="programs" class="autocomplete">
            </div>
            <!-- <div id='info'>
                <ul id="my-list"></ul>
            </div> -->
        </div>
    </body>

</html>